body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  cursor: url('../images/鼠标2/favicon.ico'), auto;
  font-family: YourFontName, sans-serif;
  overflow-x: hidden;
  position: relative;
  background-image: url(../images/4370c2f4ebe236b5492f81e10e07920-0000.png);
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: 100%;
}

/*header部分*/
header {
  background-image: url(../images/素材/横版/236.png);
  background-size: cover; /* 调整背景图像大小以覆盖整个元素 */
  background-position: center;
  position: relative;
  height: 180px;
  color: #fff;
  padding: 30px;
  font-size: 40px;
  text-align: center;
}
header p{
  font-size: 28px;
  float: left;
  color: #fff;
  position: absolute;
  left: 76%;
  top: 30%;
}
header h1{
  position: absolute;
  left: 35%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#dateDisplay{
  float: left;
  font-size: 28px;
  color: #fff;
  position: absolute;
  left: 73%;
  top: 20%;
}
#time{
  float: left;
  font-size: 28px;
  color: #fff;
  position: absolute;
  left: 87%;
  top: 41%;
}

/*链接到b站*/
.container {
  height: 2000px;
  margin: 0 auto;
  padding: 10px;
}
#iframe-container {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}
#iframe-container iframe {
border-radius: 15px;
width: 85%;
height: 100%;
padding: 15px 10px 0 10px;
box-shadow: inset 0 0 0 20px #fafafa; /* 内阴影，相当于设置颜色的padding */
    background-color: #fff; /* 元素的背景颜色 */
}

/*底部信息*/
#dibu {
  background-color: rgb(243, 186, 186);
  color: #fff;
  padding: 10px;
  text-align: center;
}

/*导航栏*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f7c7c7;
  text-align: center;
  font-size: 24px;
}
li {
  display: inline-block; 
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(243, 172, 172);
}
#dhl ul a{
  text-align: center;
  font-size: 24px;
}

/*导航栏下拉菜单*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
}
.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:focus {
  outline: none;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/* 响应式设计示例 */
@media screen and (max-width: 768px) {
  li {
    display: block; /* 在小屏幕上垂直排列导航项 */
  }
}


/*字体*/
@font-face {
  font-family: YourFontName;
  src: url('../字体/AaShunFengShunShuiShunCaiShen/AaShunFengShunShuiShunCaiShen-2.ttf') format('truetype');
}

/* 媒体查询 */
@media screen and (max-width: 768px) {
  header {
    height: 100px; /* 调整高度 */
    font-size: 30px; /* 调整字体大小 */
    background-size:auto;
  }
  .gif-container img{
  width:50%;
}
  header p,
  header h1,
  #dateDisplay,
  #time {
    font-size: 14px; /* 调整字体大小 */
  }

  ul {
    font-size: 14px; /* 调整字体大小 */
  }
}