.gif-container {
    position: fixed;
    overflow: hidden;
}
.gif-container img {
    width: 350px; /* 固定宽度 */
    height: auto; /* 自适应高度 */
}
.gif-container1 {
    overflow: hidden;
    position: absolute;
}
.gif-container1 img {
    width: 300px; /* 固定宽度 */
    height: auto; /* 自适应高度 */
}
/* 设置各个GIF的位置 */
#gif1 {
    top: 62%;
    left: 82%;
}
#gif2 {
    top: 62%;
    left: -3%;
}
#gif3 {
    top: 0%;
    left: 28%;
}
#gif4 {
    top: 2.5%;
    left: 1%;
}